# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
.env
.env.local
.env.*.local

# Next.js
next-env.d.ts

# Build outputs
.next/
dist/
out/

# Vercel
.vercel/
.vercel
